[Desktop Entry]
Categories=Network;
Exec=su-to-root -c /usr/bin/Ceni
Icon=ceni
Terminal=true
Type=Application

Name=Ceni
Name[am]=ሴኒ
Name[ar]=ﻩﺮﻌﺳ
Name[be]=Цэны
Name[bn]=সেনি
Name[de]=Ceni
Name[fa]=ﯽﻨﯿﺳ
Name[gu]=સેની
Name[haw]=ʻO Ceni
Name[he]=יניס
Name[hi]=सेनीक
Name[hy]=Սենի
Name[ja]=セニ
Name[ka]=სენი
Name[km]=សេនី
Name[kn]=ಸೆನಿ
Name[ko]=체니
Name[lo]=ເຊນີ
Name[mi]=Ko Ceni
Name[mk]=Цени
Name[ml]=സെനി
Name[mr]=सेनी
Name[my]=စင်နီ
Name[ne]=सेनि
Name[or]=ସେନି
Name[pa]=ਸੇਨੀ
Name[ps]=ﯽﻨﯿﺳ
Name[pt_BR]=Gerenciador de Conexões de Rede Ceni
Name[sd]=ﻲﻨﻴﺳ
Name[si]=සීනි
Name[sr]=Цени
Name[ta]=செனி
Name[te]=సీని
Name[th]=ซีนี
Name[ur]=ﯽﻨﯿﺳ
Name[yi]=ינעס
Name[zh_CN]=切尼
Name[zh_TW]=切尼

GenericName=Network card configuration
GenericName[af]=Netwerkkaartkonfigurasie
GenericName[am]=የአውታረ መረብ ካርድ ውቅር
GenericName[ar]=ﺔﻜﺒﺸﻟﺍ ﺔﻗﺎﻄﺑ ﻦﻳﻮﻜﺗ
GenericName[be]=Канфігурацыя сеткавай карты
GenericName[bg]=Конфигурация на мрежова карта
GenericName[bn]=নেটওয়ার্ক কার্ড কনফিগারেশন
GenericName[bs]=Konfiguracija mrežne kartice
GenericName[ca]=Configuració de la targeta de xarxa
GenericName[ceb]=Pag-configure sa network card
GenericName[co]=Cunfigurazione di a carta di rete
GenericName[cs]=Konfigurace síťové karty
GenericName[cy]=Cyfluniad cerdyn rhwydwaith
GenericName[da]=Konfiguration af netværkskort
GenericName[de]=Netzwerkkarte konfigurieren
GenericName[el]=Διαμόρφωση κάρτας δικτύου
GenericName[eo]=Agordo de retkarto
GenericName[es]=Configuración de la tarjeta de red
GenericName[et]=Võrgukaardi konfiguratsioon
GenericName[eu]=Sareko txartelaren konfigurazioa
GenericName[fa]=ﻪﮑﺒﺷ ﺕﺭﺎﮐ ﯼﺪﻨﺑﺮﮑﯿﭘ
GenericName[fi]=Verkkokortin konfigurointi
GenericName[fil]=Configuration ng network card
GenericName[fr]=Configuration de la carte réseau
GenericName[fr_BE]=Configuration de la carte réseau
GenericName[fy]=Netwurk card konfiguraasje
GenericName[ga]=Cumraíocht cárta líonra
GenericName[gd]=Rèiteachadh cairt lìonra
GenericName[gl]=Configuración da tarxeta de rede
GenericName[gu]=નેટવર્ક કાર્ડ ગોઠવણી
GenericName[ha]=Tsarin katin cibiyar sadarwa
GenericName[haw]=Hoʻonohonoho kāleka pūnaewele
GenericName[he]=תשר סיטרכ תרוצת
GenericName[hi]=नेटवर्क कार्ड कॉन्फ़िगरेशन
GenericName[hr]=Konfiguracija mrežne kartice
GenericName[ht]=Konfigirasyon kat rezo a
GenericName[hu]=Hálózati kártya konfigurációja
GenericName[hy]=Ցանցային քարտի կազմաձևում
GenericName[id]=Konfigurasi kartu jaringan
GenericName[is]=Stilling netkorts
GenericName[it]=Configurazione della scheda di rete
GenericName[ja]=ネットワークカードの構成
GenericName[jv]=Konfigurasi kertu jaringan
GenericName[ka]=ქსელის ბარათის კონფიგურაცია
GenericName[kk]=Желілік карта конфигурациясы
GenericName[km]=ការកំណត់រចនាសម្ព័ន្ធកាតបណ្តាញ
GenericName[kn]=ನೆಟ್u200cವರ್ಕ್ ಕಾರ್ಡ್ ಕಾನ್ಫಿಗರೇಶನ್
GenericName[ko]=네트워크 카드 구성
GenericName[ku]=Veavakirina karta torê
GenericName[ky]=Тармак картасынын конфигурациясы
GenericName[lb]=Network Card Configuratioun
GenericName[lo]=ການຕັ້ງຄ່າບັດເຄືອຂ່າຍ
GenericName[lt]=Tinklo plokštės konfigūracija
GenericName[lv]=Tīkla kartes konfigurācija
GenericName[mg]=Fanofanana karatra tambajotra
GenericName[mi]=whirihoranga kāri whatunga
GenericName[mk]=Конфигурација на мрежна картичка
GenericName[ml]=നെറ്റ്u200cവർക്ക് കാർഡ് കോൺഫിഗറേഷൻ
GenericName[mn]=Сүлжээний картын тохиргоо
GenericName[mr]=नेटवर्क कार्ड कॉन्फिगरेशन
GenericName[ms]=Konfigurasi kad rangkaian
GenericName[mt]=Konfigurazzjoni tal-kard tan-netwerk
GenericName[my]=ကွန်ရက်ကတ် ဖွဲ့စည်းမှု
GenericName[nb]=Konfigurasjon av nettverkskort
GenericName[ne]=नेटवर्क कार्ड कन्फिगरेसन
GenericName[nl]=Configuratie netwerkkaart
GenericName[ny]=Kusintha kwa makadi a netiweki
GenericName[or]=ନେଟୱର୍କ କାର୍ଡ ବିନ୍ୟାସ
GenericName[pa]=ਨੈੱਟਵਰਕ ਕਾਰਡ ਸੰਰਚਨਾ
GenericName[pl]=Konfiguracja karty sieciowej
GenericName[ps]=ﺐﯿﺗﺮﺗ ﺕﺭﺎﮐ ﯥﮑﺒﺷ ﺩ
GenericName[pt]=Configuração da placa de rede
GenericName[pt_BR]=Configurações de placas e conexões de rede com o Ceni - interface de usuário do Curses para /etc/network/interfaces
GenericName[ro]=Configurarea plăcii de rețea
GenericName[ru]=Конфигурация сетового адаптера
GenericName[rw]=Iboneza ikarita y'urusobe
GenericName[sd]=ڙﻮﺟ ﮪﺎﭠ ﻲﺟ ڊﺭﺎڪ ڪﺭﻭ ٽﻴﻧ
GenericName[si]=ජාල කාඩ්පත් වින්යාසය
GenericName[sk]=Konfigurácia sieťovej karty
GenericName[sl]=Konfiguracija omrežne kartice
GenericName[sm]=Fesootaiga kata kata
GenericName[sn]=Network kadhi kugadzirisa
GenericName[so]=Qaabeynta kaadhka shabakada
GenericName[sq]=Konfigurimi i kartës së rrjetit
GenericName[sr]=Конфигурација мрежне картице
GenericName[st]=Tokiso ea karete ea marang-rang
GenericName[su]=Konfigurasi kartu jaringan
GenericName[sv]=Nätverkskortskonfiguration
GenericName[sw]=Mpangilio wa kadi ya mtandao
GenericName[ta]=பிணைய அட்டை கட்டமைப்பு
GenericName[te]=నెట్u200cవర్క్ కార్డ్ కాన్ఫిగరేషన్
GenericName[tg]=Конфигуратсияи корти шабака
GenericName[th]=การกำหนดค่าการ์ดเครือข่าย
GenericName[tk]=Tor kartasynyň konfigurasiýasy
GenericName[tr]=Ağ kartı yapılandırması
GenericName[tt]=Челтәр картасы конфигурациясе
GenericName[ug]=ﻰﺴﯩﻤﯩﻠﭘەﺳ ﯔﯩﻨﯩﺴﯩﺗﺭﺎﻛ ﺭﻮﺗ
GenericName[uk]=Конфігурація мережевої карти
GenericName[ur]=ﺐﯿﺗﺮﺗ ﯽﮐ ﮈﺭﺎﮐ ﮎﺭﻭ ﭧﯿﻧ
GenericName[uz]=Tarmoq kartasi konfiguratsiyasi
GenericName[vi]=Cấu hình card mạng
GenericName[xh]=Ubumbeko lwekhadi lomnatha
GenericName[yi]=ןאַשיירעיגיפנאַק טראָק ץענ
GenericName[yo]=Iṣeto ni kaadi nẹtiwọki
GenericName[zh_CN]=网卡配置
GenericName[zh_TW]=網卡配置

Comment=Network card configuration
Comment[af]=Netwerkkaartkonfigurasie
Comment[am]=የአውታረ መረብ ካርድ ውቅር
Comment[ar]=ﺔﻜﺒﺸﻟﺍ ﺔﻗﺎﻄﺑ ﻦﻳﻮﻜﺗ
Comment[be]=Канфігурацыя сеткавай карты
Comment[bg]=Конфигурация на мрежова карта
Comment[bn]=নেটওয়ার্ক কার্ড কনফিগারেশন
Comment[bs]=Konfiguracija mrežne kartice
Comment[ca]=Configuració de la targeta de xarxa
Comment[ceb]=Pag-configure sa network card
Comment[co]=Cunfigurazione di a carta di rete
Comment[cs]=Konfigurace síťové karty
Comment[cy]=Cyfluniad cerdyn rhwydwaith
Comment[da]=Konfiguration af netværkskort
Comment[de]=Netzwerkkartenkonfiguration
Comment[el]=Διαμόρφωση κάρτας δικτύου
Comment[eo]=Agordo de retkarto
Comment[es]=Configuración de la tarjeta de red
Comment[et]=Võrgukaardi konfiguratsioon
Comment[eu]=Sareko txartelaren konfigurazioa
Comment[fa]=ﻪﮑﺒﺷ ﺕﺭﺎﮐ ﯼﺪﻨﺑﺮﮑﯿﭘ
Comment[fi]=Verkkokortin konfigurointi
Comment[fil]=Configuration ng network card
Comment[fr]=Configuration de la carte réseau
Comment[fr_BE]=Configuration de la carte réseau
Comment[fy]=Netwurk card konfiguraasje
Comment[ga]=Cumraíocht cárta líonra
Comment[gd]=Rèiteachadh cairt lìonra
Comment[gl]=Configuración da tarxeta de rede
Comment[gu]=નેટવર્ક કાર્ડ ગોઠવણી
Comment[ha]=Tsarin katin cibiyar sadarwa
Comment[haw]=Hoʻonohonoho kāleka pūnaewele
Comment[he]=תשר סיטרכ תרוצת
Comment[hi]=नेटवर्क कार्ड कॉन्फ़िगरेशन
Comment[hr]=Konfiguracija mrežne kartice
Comment[ht]=Konfigirasyon kat rezo a
Comment[hu]=Hálózati kártya konfigurációja
Comment[hy]=Ցանցային քարտի կազմաձևում
Comment[id]=Konfigurasi kartu jaringan
Comment[is]=Stilling netkorts
Comment[it]=Configurazione della scheda di rete
Comment[ja]=ネットワークカードの構成
Comment[jv]=Konfigurasi kertu jaringan
Comment[ka]=ქსელის ბარათის კონფიგურაცია
Comment[kk]=Желілік карта конфигурациясы
Comment[km]=ការកំណត់រចនាសម្ព័ន្ធកាតបណ្តាញ
Comment[kn]=ನೆಟ್u200cವರ್ಕ್ ಕಾರ್ಡ್ ಕಾನ್ಫಿಗರೇಶನ್
Comment[ko]=네트워크 카드 구성
Comment[ku]=Veavakirina karta torê
Comment[ky]=Тармак картасынын конфигурациясы
Comment[lb]=Network Card Configuratioun
Comment[lo]=ການຕັ້ງຄ່າບັດເຄືອຂ່າຍ
Comment[lt]=Tinklo plokštės konfigūracija
Comment[lv]=Tīkla kartes konfigurācija
Comment[mg]=Fanofanana karatra tambajotra
Comment[mi]=whirihoranga kāri whatunga
Comment[mk]=Конфигурација на мрежна картичка
Comment[ml]=നെറ്റ്u200cവർക്ക് കാർഡ് കോൺഫിഗറേഷൻ
Comment[mn]=Сүлжээний картын тохиргоо
Comment[mr]=नेटवर्क कार्ड कॉन्फिगरेशन
Comment[ms]=Konfigurasi kad rangkaian
Comment[mt]=Konfigurazzjoni tal-kard tan-netwerk
Comment[my]=ကွန်ရက်ကတ် ဖွဲ့စည်းမှု
Comment[nb]=Konfigurasjon av nettverkskort
Comment[ne]=नेटवर्क कार्ड कन्फिगरेसन
Comment[nl]=Configuratie netwerkkaart
Comment[ny]=Kusintha kwa makadi a netiweki
Comment[or]=ନେଟୱର୍କ କାର୍ଡ ବିନ୍ୟାସ
Comment[pa]=ਨੈੱਟਵਰਕ ਕਾਰਡ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja karty sieciowej
Comment[ps]=ﺐﯿﺗﺮﺗ ﺕﺭﺎﮐ ﯥﮑﺒﺷ ﺩ
Comment[pt]=Configuração da placa de rede
Comment[pt_BR]=Configurações de placas e conexões de rede com o Ceni - interface de usuário do Curses para /etc/network/interfaces
Comment[ro]=Configurarea plăcii de rețea
Comment[ru]=Конфигурация сетового адаптера
Comment[rw]=Iboneza ikarita y'urusobe
Comment[sd]=ڙﻮﺟ ﮪﺎﭠ ﻲﺟ ڊﺭﺎڪ ڪﺭﻭ ٽﻴﻧ
Comment[si]=ජාල කාඩ්පත් වින්යාසය
Comment[sk]=Konfigurácia sieťovej karty
Comment[sl]=Konfiguracija omrežne kartice
Comment[sm]=Fesootaiga kata kata
Comment[sn]=Network kadhi kugadzirisa
Comment[so]=Qaabeynta kaadhka shabakada
Comment[sq]=Konfigurimi i kartës së rrjetit
Comment[sr]=Конфигурација мрежне картице
Comment[st]=Tokiso ea karete ea marang-rang
Comment[su]=Konfigurasi kartu jaringan
Comment[sv]=Nätverkskortskonfiguration
Comment[sw]=Mpangilio wa kadi ya mtandao
Comment[ta]=பிணைய அட்டை கட்டமைப்பு
Comment[te]=నెట్u200cవర్క్ కార్డ్ కాన్ఫిగరేషన్
Comment[tg]=Конфигуратсияи корти шабака
Comment[th]=การกำหนดค่าการ์ดเครือข่าย
Comment[tk]=Tor kartasynyň konfigurasiýasy
Comment[tr]=Ağ kartı yapılandırması
Comment[tt]=Челтәр картасы конфигурациясе
Comment[ug]=ﻰﺴﯩﻤﯩﻠﭘەﺳ ﯔﯩﻨﯩﺴﯩﺗﺭﺎﻛ ﺭﻮﺗ
Comment[uk]=Конфігурація мережевої карти
Comment[ur]=ﺐﯿﺗﺮﺗ ﯽﮐ ﮈﺭﺎﮐ ﮎﺭﻭ ﭧﯿﻧ
Comment[uz]=Tarmoq kartasi konfiguratsiyasi
Comment[vi]=Cấu hình card mạng
Comment[xh]=Ubumbeko lwekhadi lomnatha
Comment[yi]=ןאַשיירעיגיפנאַק טראָק ץענ
Comment[yo]=Iṣeto ni kaadi nẹtiwọki
Comment[zh_CN]=网卡配置
Comment[zh_TW]=網卡配置

Keywords=Net;Network;Configuration;interfaces;ifupdown;
Keywords[pt]=Rede;Rede de trabalho;Web;Configurações;Ficheiro de configurações interfaces;ifupdown;
Keywords[pt_BR]=Rede;Internet;Configurações;Arquivo de configurações interfaces;ifupdown;
