Source: ceni
Section: net
Priority: optional
Maintainer: Kel Modderman <kel@otaku42.de>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 6)
Build-Depends-Indep: perl (>= 5.6.0-16)
Vcs-Svn: svn://svn.berlios.de/fullstory/ceni/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/ceni/trunk/
Standards-Version: 3.8.0

Package: ceni
Architecture: all
Depends: ${perl:Depends}, libcurses-ui-perl, libterm-readkey-perl, ifupdown, udev
Recommends: wireless-tools, wpasupplicant, resolvconf
Conflicts: configure-networkcard (< 0.7.22)
Description: Curses interface to /etc/network/interfaces
 A Curses user interface for configuring network interfaces with ifupdown.
 Ceni can manage basic network interface ifupdown configuration stanzas for
 ethernet and wireless devices.
