Source: ceni
Section: net
Priority: optional
Maintainer: Kel Modderman <kel@otaku42.de>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 Joaquim Boura <x-un-i@berlios.de>
Build-Depends: debhelper (>= 9.20120115)
Build-Depends-Indep: perl,
 libexpect-perl
Vcs-Svn: svn://svn.berlios.de/fullstory/ceni/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/ceni/trunk/
Standards-Version: 3.9.2

Package: ceni
Architecture: all
Depends: ${misc:Depends},
 ${perl:Depends},
 libcurses-ui-perl,
 libexpect-perl,
 libterm-readkey-perl,
 ifupdown,
 udev,
 wpasupplicant
Recommends: resolvconf
Suggests: wpagui
Description: Curses interface to /etc/network/interfaces
 A Curses user interface for configuring network interfaces with ifupdown.
 Ceni can manage basic network interface ifupdown configuration stanzas for
 ethernet and wireless devices.
