Source: ceni
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Joaquim Boura <x-un-i@sapo.pt>
Build-Depends: debhelper (>= 9.20120115)
Build-Depends-Indep: perl,
 libexpect-perl
Standards-Version: 3.9.6
Vcs-git: git://github.com/fullstory/ceni.git
Vcs-Browser: https://github.com/fullstory/ceni

Package: ceni
Architecture: all
Depends: ${misc:Depends},
 ${perl:Depends},
 libcurses-ui-perl,
 libexpect-perl,
 libterm-readkey-perl,
 ifupdown,
 udev,
 wpasupplicant
Recommends: resolvconf
Suggests: wpagui
Description: Curses interface to /etc/network/interfaces
 A Curses user interface for configuring network interfaces with ifupdown.
 Ceni can manage basic network interface ifupdown configuration stanzas for
 ethernet and wireless devices.
